



:root {
    --bleu-electrique: rgb(0, 132, 255); /* Couleur bleu électrique */
    --rose-fuchsia: rgb(255, 0, 204);  /* Couleur rose fuchsia */
    
  }
/*------------------------*/
/*----------BODY----------*/
/*------------------------*/

body {
    margin: 0;
    height: auto; 
    background: linear-gradient(25deg, rgb(20, 20, 20), rgba(73, 69, 69, 0.886));
    color: white; /* Texte blanc par défaut */
    font-family: 'Orbitron', sans-serif;
  }

/*------------------------*/
/*---barre de navigation---*/
/*------------------------*/



header {
  background-color: #333; 
  padding: 10px 0;
}

nav ul {
  display: flex; /* Mise en ligne des éléments */
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  list-style: none; 
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px; /* Espacement entre les items */
}

nav a {
  text-decoration: none; 
  font-size: 20px; 
  font-weight: bold;
  color: var(--bleu-electrique); 
  animation: NavColor 4s infinite alternate; 
  text-shadow: 0 0 5px var(--bleu-electrique); 
}


@keyframes NavColor {
  from {
    color: var(--bleu-electrique); 
    text-shadow: 0 0 10px var(--bleu-electrique), 0 0 20px var(--bleu-electrique);
  }
  to {
    color: var(--rose-fuchsia); 
    text-shadow: 0 0 10px var(--rose-fuchsia), 0 0 20px var(--rose-fuchsia);
  }
}

nav a:hover {
  text-decoration: underline; 
}

nav img {
  height: 100px; 
  vertical-align: middle; 
}


#titre{
  text-align: center;
}

h1{
  color: #0e9aff;
}

/* Animation dynamique */
@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5), 
                0 0 40px rgba(0, 255, 0, 0.3), 
                0 0 60px rgba(0, 255, 0, 0.1);
  }
  50% {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.7), 
                0 0 50px rgba(0, 255, 0, 0.5), 
                0 0 70px rgba(0, 255, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5), 
                0 0 40px rgba(0, 255, 0, 0.3), 
                0 0 60px rgba(0, 255, 0, 0.1);
  }
}
.formu fieldset{
    width: 60%;
    margin: auto;
    padding: 30px;
    border-radius: 2.5%;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5),
    0 0 40px rgba(0, 255, 0, 0.3), 
    0 0 60px rgba(0, 255, 0, 0.1);
    animation: glow 2s infinite;
}

.formu fieldset:hover{
    box-shadow: 2px 2px 5px;
}

.formu legend{
    font-style: bold;
    color: #0e9aff;

}

.formu label{
    font-style: bold;
    display: inline-block;
    width: 25%;
    color: #0e9aff;
}

.formu input{
    border: none;
    border-bottom: 1px solid;
    width: 25%;
    background-color: gray;
}

::placeholder{
  color: whitesmoke;
  opacity: 1;
}



.formu input:focus{
    border-bottom: 2px solid;
    background-color: rgba(192, 223, 239);
    color: black;
    cursor: pointer;
}

.formu select{
    border: none;
    border-bottom: 1px solid;
    width: 25%;
    background-color: gray;
}
.formu select:focus{
  background-color: rgba(192, 223, 239);
}



.formu textarea{
  background-color: gray;
  resize: none;
  cursor: pointer;
  height: auto;
  width: 100%;
}
/*
#bouton input{
  color: whitesmoke;
}
*/
.formu textarea:focus{
  background-color: rgba(192, 223, 239);
}

#bouton {
  list-style: none; 
  display: flex;
  gap: 15px; 
  padding: 0;
  margin: 0;
  text-align: left;
  justify-content: center;
  color: whitesmoke;
} 

input {
  padding: 10px 20px;
  background-color: #333; 
  color: white; 
  border-radius: 25px; 
  text-align: center; 
}

#bouton input:hover {
  animation: BoxColor 0.5s alternate; 
  cursor: pointer;
}

/* Styles spécifiques pour les petits écrans (téléphones) */ 
@media (max-width: 600px) { 
  form { 
    padding: 10px;
  } 
  input{
    font-size: 14px;
    padding: 8px;
  }
  textarea { 
  font-size: 14px;
  padding: 8px; 
  border-radius: 3px; 
  } 
  label { 
    font-size: 14px; 
  }

}

/* Styles spécifiques pour les écrans de taille moyenne (tablettes) */ 
@media (min-width: 601px) and (max-width: 1024px) { 
  form { 
    padding: 20px; 
  } 
  input { 
    font-size: 16px; 
    padding: 12px; 
    border-radius: 5px; 
  } 
  label { 
    font-size: 16px; 
  } 
  button { 
    font-size: 16px; 
    padding: 12px 20px;
  }
}


  
/*------------------------*/
/*--------Footer--------*/
/*------------------------*/

footer dl {
  margin: 0 auto;
  padding: 0;
  text-align: center; 
}

footer dt {
  font-weight: bold; 
  text-transform: uppercase; 
  margin-top: 15px;
  font-size: 1.1em;
  color: #0e9aff; 
}

footer dd {
  margin: 0 0 10px;
  font-size: 0.9em;
  color: #ccc; 
}

footer ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.site img{
  width: 30px;
  height: 30px;
}