nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b38859;
}

nav ul li img {
    height: 30px;
    width: auto;
}
