/*------------------------*/
/*--------COULEUR--------*/
/*------------------------*/

:root {
    --bleu-electrique: rgb(0, 132, 255); /* Couleur bleu électrique */
    --rose-fuchsia: rgb(255, 0, 204);  /* Couleur rose fuchsia */
    
}

/*------------------------*/
/*----------BODY----------*/
/*------------------------*/

body {
    margin: 0;  /* Applique une marge de 0 pour supprimer les marges par défaut du navigateur */
    background: linear-gradient(25deg,   rgb(20, 20, 20), rgba(73, 69, 69, 0.886)); /* Ajoute un fond dégradé en diagonale (25 degrés) avec deux couleurs */
    color: white; /* Texte blanc par défaut */
    font-family: 'Orbitron', sans-serif;
  } 

  
h2 {
  color: var(--rose-fuchsia);
  /* Ajoute des ombres pour un effet lumineux */
  text-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.6), 
    0 0 10px var(--rose-fuchsia), 
    0 0 20px rgba(255, 255, 255, 0.5);
  animation: titleFadeIn 1s ease-in-out; /* Animation d'apparition */
  font-weight: 1000;
}


/* Définition de l'animation pour le titre */
@keyframes titleFadeIn {
  from {
    opacity: 0;  /* Le texte commence invisible */
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*------------------------*/
/*---barre de navigation---*/
/*------------------------*/

header {
    background-color: #333;   /* Couleur de fond sombre pour contraster avec le texte et le reste du site*/
    padding: 10px 0;
  }

/* Style pour la liste de navigation */
nav ul {
    display: flex; /* Mise en ligne des éléments */
    justify-content: center; /* Centrage horizontal */
    align-items: center; 
    list-style: none; /* Supprime les puces des listes */ 
    margin: 0;
    padding: 0;
  }
  
/* Style pour chaque élément de la liste */
nav li {
  margin: 0 15px; /* Espacement entre les items */
}

/* Style pour les liens dans la barre de navigation */
nav a {
  text-decoration: none; /* Supprime le soulignement par défaut */
  font-size: 20px; 
  font-weight: bold; 
  color: var(--bleu-electrique); 
  animation: NavColor 4s infinite alternate; /* Animation pour changer les couleurs */
  text-shadow: 0 0 5px var(--bleu-electrique); /* Effet lumineux autour du texte */
}

  @keyframes NavColor {
    from {
      color: var(--bleu-electrique); 
      text-shadow: 0 0 10px var(--bleu-electrique), 0 0 20px var(--bleu-electrique);
    }
    to {
      color: var(--rose-fuchsia); 
      text-shadow: 0 0 10px var(--rose-fuchsia), 0 0 20px var(--rose-fuchsia);
    }
  }

/* Effet au survol des liens */
nav a:hover {
  text-decoration: underline; 

}
  
nav img {
  height: 7rem; 
  vertical-align: middle; 
}


/*------------------------*/
/*---main/cadre dyn vert---*/
/*---Et positionnement---*/
/*------------------------*/

.main-container {
  display: grid; /* Organisation en grille */
  grid-template-columns: repeat(3, 3fr); /* Trois colonnes égales */
  grid-template-rows: auto 2fr auto; /* Hauteur des lignes */
  gap: 20px; /* Espacement entre les éléments */
  justify-items: center; /* Centre horizontalement */
  margin: 50px; /* Marges uniformes */
  padding: 20px; /* Espacement interne */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1); /* Fond transparent */
  border: 2px solid rgba(255, 255, 255, 0.2); /* Bordure subtile */
  border-radius: 20px; /* Coins arrondis */

  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5),
              0 0 40px rgba(0, 255, 0, 0.3),
              0 0 60px rgba(0, 255, 0, 0.1);
  animation: glow 2s infinite; /* Animation pour effet lumineux */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5), 
                0 0 40px rgba(0, 255, 0, 0.3), 
                0 0 60px rgba(0, 255, 0, 0.1);
  }
  50% {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.7), 
                0 0 50px rgba(0, 255, 0, 0.5), 
                0 0 70px rgba(0, 255, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5), 
                0 0 40px rgba(0, 255, 0, 0.3), 
                0 0 60px rgba(0, 255, 0, 0.1);
  }
}

.section {
  grid-column: 2; 
  grid-row: 1; 
}

.image-gauche {
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gauche img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  
}

.image-droite {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-droite img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}


/*------------------------*/
/*--Nombre de couverts---*/
/*------------------------*/
.button {
  list-style: none; /* Supprime les puces des listes */
  display: flex; /* Mise en ligne horizontale des éléments */
  gap: 10px; /* Espacement horizontal entre les boutons */
  padding: 0; /* Supprime les marges internes */
  margin: 0; /* Supprime les marges externes */
  text-align: center; 
  justify-content: center; /* Centre les éléments horizontalement dans leur conteneur */
} 

.button li {
  padding: 10px 20px;
  background-color: #333; 
  color: white;
  border-radius: 25px; /* Coins arrondis pour un aspect bouton */
  text-align: center; /* Centre le texte dans le bouton */
  cursor: pointer; /* Change le curseur  */
}


.button li:hover {
  animation: BoxColor 4s infinite alternate; 
  
}

@keyframes BoxColor { 
  from {
    background-color: var(--bleu-electrique); 
    box-shadow: 0 0 10px var(--bleu-electrique), 0 0 20px var(--bleu-electrique); 
  }
  to {
    background-color: var(--rose-fuchsia); 
    box-shadow: 0 0 10px var(--rose-fuchsia), 0 0 20px var(--rose-fuchsia); 
  }
}


/*------------------------*/
/*------Calendrier--------*/
/*------------------------*/ 

/* Style de la boîte principale contenant le calendrier */  
.box {
  width: 400px;
  background: #333;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  display: inline-block;
}

/* Cacher l'image liée au calendrier */
.calendrier-image {
  display: none;
}

.box h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}

.calendrier h1 {
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
}

.nav-calendrier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav-calendrier div {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
}

.nav-calendrier div:hover {
  animation: BoxColor 4s infinite alternate;
}

@keyframes BoxColor {
  from {
      background-color: var(--bleu-electrique);
      box-shadow: 0 0 10px var(--bleu-electrique), 0 0 20px var(--bleu-electrique);
  }
  to {
      background-color: var(--rose-fuchsia);
      box-shadow: 0 0 10px var(--rose-fuchsia), 0 0 20px var(--rose-fuchsia);
  }
}

/* Style des jours du calendrier */
.jours {
  display: grid; /* Mise en page en grille */
  grid-template-columns: repeat(7, 1fr); /* Crée une grille avec 7 colonnes égales (une pour chaque jour) */
  gap: 5px; /* Espacement entre les éléments */
}

.jours div {
  padding: 10px; /* Espacement interne pour chaque jour */
  background: #333; /* Fond sombre */
  border-radius: 5px; /* Coins arrondis pour chaque jour */
  text-align: center; /* Texte centré */
  font-size: 14px; /* Taille du texte */
}

/* Style pour les en-têtes de la grille (les noms des jours) */
.jours div.titre {
  font-weight: bold; /* Texte en gras */
  background: #ddd; /* Fond clair pour les titres */
  color: #555; /* Couleur de texte grise */
}



/*------------------------*/
/*--------Heure---------*/
/*------------------------*/
.heure {
  text-align: center;
}

/* Style pour la liste déroulante contenant l'heure */
.heure dl {    
  border-style: solid; /* Bordure solide autour de la liste */
  padding: 10px;
  width: 400px; 
  margin: auto; 
  height: 100px;
  overflow: scroll; /* Permet le défilement si le contenu dépasse */
  scrollbar-width: none; /* Cache la barre de défilement */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333; 
  color: white;
}


.heure dt {
  font-weight: bold;
  margin-top: 10px;
  color: white;
}

.heure dd {
  margin-left: 0; 
  margin-right: 0px;
  margin-bottom: 5px;
  color: white;
  padding: 5px 20px;
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.heure dd:hover{
  animation: heureColor 4s  ;
} 
@keyframes heureColor { 
  from {
    background-color: var(--bleu-electrique); 
    box-shadow: 0 0 10px var(--bleu-electrique), 0 0 20px var(--bleu-electrique); 
  }
  to {
    background-color: var(--rose-fuchsia); 
    box-shadow: 0 0 10px var(--rose-fuchsia), 0 0 20px var(--rose-fuchsia); 
  }
}
dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}


/*------------------------*/
/*--Bouton reservation---*/
/*------------------------*/
.Reservation {
  border-radius: 10px;
  border-color: white;
  width: 200px;
  height: 50px; 
  background-color: #333; 
  color: white;  
  font-size: 16px; 
  margin-top: 50px;
  justify-content: center; 
  align-items: center; 
  cursor: pointer; 
  transition: background-color 0.3s, box-shadow 0.3s;
}

.Reservation:hover {
  animation: reservation 4s ease infinite; /* Animation avec un mouvement fluide et répété */
}

@keyframes reservation {
  0% {
    background-color: var(--bleu-electrique); 
    box-shadow: 0 0 10px var(--bleu-electrique), 0 0 20px var(--bleu-electrique);
  }
  50% {
    background-color: var(--rose-fuchsia);
    box-shadow: 0 0 10px var(--rose-fuchsia), 0 0 20px var(--rose-fuchsia);
  }
  100% {
    background-color: var(--bleu-electrique); 
    box-shadow: 0 0 10px var(--bleu-electrique), 0 0 20px var(--bleu-electrique);
  }
}
/*------------------------*/
/*--------Footer--------*/
/*------------------------*/

footer dl {
  margin: 0 auto;
  padding: 0;
  text-align: center; 
}

footer dt {
  font-weight: bold; 
  text-transform: uppercase; 
  margin-top: 15px;
  font-size: 1.1em;
  color: #0e9aff; 
}

footer dd {
  margin: 0 0 10px;
  font-size: 0.9em;
  color: #ccc; 
}

footer ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.site img{
  width: 30px;
  height: 30px;
}

/*------------------------*/
/*--------Responsive--------*/
/*------------------------*/

@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
    margin: 10px;
    padding: 10px;
  
  }
  nav img {
    display: none;
  }
  nav ul {
    flex-direction: column;
  }

  .button {
    flex-direction: column;
  }

  .image-gauche, .image-droite {
    display: none;
  }

  .Reservation {
    width: 90%;
  }

  footer ul {
    flex-direction: column;
  }

  .heure dl {
    width: 90%;
  }
  
}

/* Small devices */
@media (max-width: 480px) {
  h2 {
    font-size: 18px;
  }

  nav a {
    font-size: 16px;
  }

  .main-container {
    margin: 5px;
    padding: 10px;
  }

  .button li {
    padding: 10px;
    font-size: 14px;
  }

  .box {
    display: none; 
  }
  .calendrier-image {
    display: block; 
    width: 10%;  
    margin: 0 auto; 
    justify-content: center; /* Centre les éléments horizontalement dans leur conteneur */
  }

  

  .calendrier-image {
    display: inline-block; /* Affiche l'image */
    width: auto; /* Ajuste la largeur de l'image (ajuster selon ton besoin) */
    margin: 0 auto; /* Centre l'image horizontalement */
    text-align: center; /* Centre l'image dans son conteneur */
  }
}



#lien1 a{
  color: white;
}

#lien2 a {
  color: #ccc;
  text-decoration: none;
}