/*------------------------*/
/*--------COULEUR--------*/
/*------------------------*/

:root {
    --bleu-electrique: rgb(0, 132, 255); /* Couleur bleu électrique */
    --rose-fuchsia: rgb(255, 0, 204);  /* Couleur rose fuchsia */
    
  }
  
/*------------------------*/
/*----------BODY----------*/
/*------------------------*/

body {
    margin: 0;
    height: auto; 
    background: linear-gradient(25deg, rgb(20, 20, 20), rgba(73, 69, 69, 0.886));
    color: white; /* Texte blanc par défaut */
    font-family: 'Orbitron', sans-serif;
  } 

/*------------------------*/
/*---barre de navigation---*/
/*------------------------*/

header {
    background-color: #333; 
    padding: 10px 0;
  }
  
nav ul {
    display: flex; /* Mise en ligne des éléments */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    list-style: none; 
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 15px; /* Espacement entre les items */
  }

  nav a {
    text-decoration: none; 
    font-size: 20px; 
    font-weight: bold;
    color: var(--bleu-electrique); 
    animation: NavColor 4s infinite alternate; 
    text-shadow: 0 0 5px var(--bleu-electrique); 
  }
  

  @keyframes NavColor {
    from {
      color: var(--bleu-electrique); 
      text-shadow: 0 0 10px var(--bleu-electrique), 0 0 20px var(--bleu-electrique);
    }
    to {
      color: var(--rose-fuchsia); 
      text-shadow: 0 0 10px var(--rose-fuchsia), 0 0 20px var(--rose-fuchsia);
    }
  }
  
  nav a:hover {
    text-decoration: underline; 
  }
  
  nav img {
    height: 100px; 
    vertical-align: middle; 
  }

/*------------------------*/
/*---main/cadre dyn vert---*/
/*------------------------*/
main {
    margin: 50px 50px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); 
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
  
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5),
              0 0 40px rgba(0, 255, 0, 0.3), 
              0 0 60px rgba(0, 255, 0, 0.1);
    animation: glow 2s infinite;
}

/* Animation dynamique */
@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5), 
                0 0 40px rgba(0, 255, 0, 0.3), 
                0 0 60px rgba(0, 255, 0, 0.1);
  }
  50% {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.7), 
                0 0 50px rgba(0, 255, 0, 0.5), 
                0 0 70px rgba(0, 255, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5), 
                0 0 40px rgba(0, 255, 0, 0.3), 
                0 0 60px rgba(0, 255, 0, 0.1);
  }
}


/*------------------------*/
/*--Nombre de couverts---*/
/*------------------------*/

.button {
  list-style: none; 
  display: flex;
  gap: 10px; 
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content:center ;
} 

.button li {
  padding: 10px 20px;
  background-color: #333; 
  color: white; 
  border-radius: 25px; 
  text-align: center; 
  cursor: pointer; 
}

.button li:hover {
  animation: BoxColor 4s infinite alternate; 
  
}

@keyframes BoxColor { 
  from {
    background-color: var(--bleu-electrique); 
    box-shadow: 0 0 10px var(--bleu-electrique), 0 0 20px var(--bleu-electrique); 
  }
  to {
    background-color: var(--rose-fuchsia); 
    box-shadow: 0 0 10px var(--rose-fuchsia), 0 0 20px var(--rose-fuchsia); 
  }
}

/*------------------------*/
/*--------Heure---------*/
/*------------------------*/
.heure {
  text-align: center;
}
.heure dl {    
  border-style: solid;
  padding: 10px;
  width:  300px;
  margin: auto;
  height: 100px;
  overflow: scroll;
  scrollbar-width: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333;
  color: white;
}


.heure dt {
  font-weight: bold;
  margin-top: 10px;
  color: white;
}

.heure dd {
  margin-left: 0; 
  margin-right: 0px;
  margin-bottom: 5px;
  color: white;
  padding: 5px 20px;
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.heure dd:hover{
  animation: heureColor 4s  ;
} 
@keyframes heureColor { 
  from {
    background-color: var(--bleu-electrique); 
    box-shadow: 0 0 10px var(--bleu-electrique), 0 0 20px var(--bleu-electrique); 
  }
  to {
    background-color: var(--rose-fuchsia); 
    box-shadow: 0 0 10px var(--rose-fuchsia), 0 0 20px var(--rose-fuchsia); 
  }
}
dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}


/*------------------------*/
/*--Bouton reservation---*/
/*------------------------*/

.Reservation{
  border-radius: 10px;
  width: 200px;
}
/* Supprime la marge du dernier bouton pour éviter un espace inutile */
.button-container button:last-child {
  margin-right: 0;
}
  /*------------------------*/
/*--en cours---*/
/*------------------------*/      

.calendrier {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 colonnes pour les jours de la semaine */
    gap: 5px;
    width: 90%;
    max-width: 600px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }



/*------------------------*/
/*--------Footer--------*/
/*------------------------*/
footer {
  animation: none ;
}
footer dl {
    margin: 0 auto;
    padding: 0;
    text-align: center; 
  }
  
  footer dt {
    font-weight: bold; 
    text-transform: uppercase; 
    margin-top: 15px;
    font-size: 1.1em;
    color: #0e9aff; 
  }
  
  footer dd {
    margin: 0 0 10px;
    font-size: 0.9em;
    color: #ccc; 
  }